{% extends 'base.html.twig' %}

{% block title %}
    Ajouter un manga à la bibliothèque
{% endblock %}

{% block body %}
    <h1>Ajouter un manga à la bibliothèque</h1>

    {{ include('manga/_form.html.twig') }}

{% endblock %}
