<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			i❤️Manga -
			{% block title %}{% endblock %}
		</title>
		<script src="https://kit.fontawesome.com/f12ce41413.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('css/app.css') }}"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>
		<body>
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="flash flash-{{label}}">
						{{message}}
					</div>
				{% endfor %}
			{% endfor %}
			{% include "partials/_header.html.twig" %}
			{% block body %}{% endblock %}
		</body>
	</html>
